<%- include('header')%>

  <section class="bg-dark text-light p-5 py-lg-4 text-center text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Become a <span class="text-warning">Web Developer</span></h1>
          <p class="lead  my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, odit. Nulla ipsum ullam harum officia rerum esse voluptate delectus corrupti adipisci a!</p>
          <button class="btn btn-primary btn-lg">Start The Enrollment</button>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="images/museum.svg" alt="Browsing artwork at a museum">
      </div>
    </div>
  </section>

  <section class="bg-primary text-light p-5">
    <div class="container">
      <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
      </div>
    </div>
  </section>
<%- include('footer')%>
